@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

body {
	padding-left: 20px;
	padding-right: 20px;

	> header {
		margin-top:20px;
		margin-bottom:20px;
	}
}

input[type=number] {
	text-align: right;
}

.capitalize {
	text-transform: capitalize;
}

.number {
	text-align: right;
}

td > button {
	margin:5px;
}
